@font-face {
    font-family: clock;
    src: url(clock.ttf);
}

body {
    overflow: hidden; /* Hide scrollbars */
}

video {
    position: absolute;
    top: -5px;
    left: 0;
    height: 725px;
    filter: brightness(50%);
}

#canv {
    top: 6px;
    left: 10px;
    position: absolute;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    cursor: move;
}

#earth {
    position: absolute;
    top: 30px;
    left: -5px;
    width: 52%;
    animation: rotation 200s infinite linear;
    filter: brightness(50%);
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#mynetwork {
    left: 0;
    top: 0;
    width: 720px;
    height: 720px;
}

#date {
    position: absolute;
    top: 0;
    left: 1060px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: clock, serif;
    white-space: nowrap;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
}

#hour {
    position: absolute;
    top: 325px;
    left: 932px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: clock, serif;
    white-space: break-spaces;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
}

#logo {
    position: absolute;
    top: 630px;
    left: 1185px;
    width: 6%;
    filter: drop-shadow(0 0 0.1rem rgb(202, 215, 224));
}
