@font-face {
    font-family: clock;
    src: url(clock.ttf);
}

body {
    overflow: hidden; /* Hide scrollbars */
}

video {
    position: absolute;
    top: -5px;
    left: 0;
    height: 1085px;
    filter: brightness(50%);
}

#canv {
    top: 6px;
    left: 10px;
    position: absolute;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    cursor: move;
}

#earth {
    position: absolute;
    top: 15px;
    left: -5px;
    width: 55%;
    animation: rotation 600s infinite linear;
    filter: brightness(5%);
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#mynetwork {
    position: absolute;
    left: -1080px;
    top: 0;
    width: 3240px;
    height: 1080px;
}

#date {
    position: absolute;
    top: -20px;
    left: 1495px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: clock, serif;
    white-space: nowrap;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
}

#hour {
    position: absolute;
    top: 455px;
    left: 1465px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: clock, serif;
    white-space: break-spaces;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
}

#logo {
    position: absolute;
    top: 920px;
    left: 1750px;
    width: 8%;
    filter: drop-shadow(0 0 0.1rem rgb(202, 215, 224));
}
